@import url("https://fonts.googleapis.com/css2?family=Tienne:wght@400;700&display=swap");

:root {
	--primaray: #01a6e7;
	--secondary: #0069ab;
	--light: #abddff;
	--lighter: #6fa2be;
	--spacer: 30px;
	--margin: 0 151px;
	--font-weight-big: 700;
	--font-weight-mid: 400;
	--font-size-big: 57px;
	--font-size-mid: 37px;
	--font-size-small: 24px;
	--font-type-header: "Tienne", serif;
}
body {
	width: 100vw;
	overflow-x: hidden;
}
p {
	font-size: var(--font-size-small);
	/* font-weight:var(--font-weight-mid); */
	font-family: var(--font-type-header);
}
h1 {
	font-size: var(--font-size-big);
	font-weight: var(--font-weight-big);
	font-family: var(--font-type-header);
}
/* utility classes */
.heighlight_button {
	background-color: var(--primaray) !important;
}

.container {
	padding: var(--margin);
}
/* end of utility classes */

/* amer's styles below this */

/* main section style */
.main {
	/* height: 949px; */
	height: 100vh;
	background-image: url("./assets/images/main_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	overflow: hidden;
}
.main__container {
	max-width: 1440px;
}
.main__nav {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 0;
	flex-shrink: 0;
	transform: translateY(19px);
}
.main__nav ul {
	display: flex;
	gap: var(--spacer);
}
.nav__navigation {
	gap: 47px;
}
.main__nav li {
	cursor: pointer;
	width: 117px;
	height: 36px;
	border-radius: 8px;
	background-color: #d9d9d9;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav__container {
	display: flex;
	gap: var(--spacer);
}
.nav__secondary {
	margin-left: 127px;
	gap: 28px;
}
.main__paragraph {
	width: 554px;
	line-height: 67px;
	color: rgba(255, 255, 255, 0.891);
	transform: translateY(93px);
	margin-left: 207px;
}
.main__box {
	width: 359px;
	background: rgba(171, 221, 255, 0.516);
	backdrop-filter: blur(33.5px);
	height: 500px;
	font-weight: var(--font-weight-big);
	font-size: var(--font-size-mid);
	font-family: var(--font-type-header);
	line-height: 67px;
	padding: 100px 25px 0 25px;
	border-radius: 17px;
	margin-left: auto;
	margin-right: 80px;
	margin-top: calc(100vh - 665px);
	position: relative;
}
.main__box__ellipse {
	position: absolute;
	bottom: -75px;
	right: -92px;
	animation: rotation 25s infinite linear;
}

.main__ham--menue {
	width: 20px;
}
.main__ham--menue img {
	width: 100%;
}
/* end of main style */

/* payment section style  */
.payment_method {
	height: 900px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	background: linear-gradient(
		264.77deg,
		#01a6e7 48.32%,
		rgba(1, 166, 231, 0) 79.73%
	);
}
.payment_method_container {
	display: flex;
	height: 100%;
	align-items: center;
	max-width: 1440px;
}
.payment_method__left,
.payment_method__right {
	width: 50%;

	/* height: 100px; */
	margin-bottom: 10.43rem;
}
.payment_method__solar__container {
	position: relative;
	width: 342px;
	height: 42px;
	margin-left: 6rem;
}
.solar__main--circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 144.85px;
	height: 144.85px;
	background: rgba(255, 255, 255, 0.81);
	border-radius: 50%;
}

.solar__secondary--circle {
	width: 240.98px;
	height: 240.98px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: -45px;
	left: -43px;
	z-index: -1;
}
.solar__outer--circle {
	width: 342px;
	height: 342px;
	border: 1px solid black;
	position: absolute;
	top: -102px;
	left: -90px;
	border-radius: 50%;
}
.solar--blob {
	z-index: -10;
	width: 382.27px;
	height: 578.98px;
	position: absolute;
	top: -226px;
	left: -245px;
}

.solar__payment-method--logo {
	width: 50px;
	height: 49px;
	border-radius: 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transition: all 0.5s ease-in;
}
.applepay {
	position: absolute;
	top: 126%;
	left: 17%;
	animation-name: applepay-rotate;
	animation-duration: 8s;
}

.mastercard {
	position: absolute;
	top: 126%;
	left: 17%;
	animation-name: applepay-rotate;
	animation-duration: 12s;
}
.mada {
	position: absolute;
	top: 100%;
	left: 13%;
	animation-name: mada-rotate;
	animation-duration: 10s;
	animation-direction: reverse;
}
.visa {
	position: absolute;
	top: 125%;
	left: 14%;
	animation-name: visa-rotate;
	animation-duration: 9s;
}
.payment_method__paragraph {
	width: 541px;
	font-size: var(--font-size-mid);
	line-height: 59px;
	color: white;
	margin-bottom: 40px;
}
.payment_method__secondary-paragraph {
	width: 440px;
	line-height: 35px;
	color: #e6dede;
	margin-bottom: 40px;
}
.payment_method-call-to-action {
	width: 192px;
	height: 54px;
	background-color: var(--secondary);
	border-radius: 11px;
	border: none;
}
/* end of payment section style */

/* dashboard style */
.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 113px;
	margin-top: 80px;
}
.dashboard__main-text {
	text-align: center;
	line-height: 68px;
	margin-top: 2rem;
	margin-bottom: 3rem;
}
.dashboard__image--container {
	width: 100%;
	background: linear-gradient(
		180.11deg,
		rgba(99, 192, 255, 0.37) 32.35%,
		rgba(171, 221, 255, 0) 99.91%
	);
	height: 752px;
	overflow: hidden;
}

.dashboard__big--image {
	transform: translateY(400px);
	width: 100%;
	transition: transform 0.9s ease-in-out;
}
/*end of dashboard section style */

/* fatimah's styles below this  */
/* api section*/
.api {
	height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	margin-bottom: 14vh;
}

.api__row {
	height: 50%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.api__row:not(:last-child) {
	/* margin-bottom: 0rem; */
}

.api__row--1 {
	background-color: burlywood;
	background-color: white;
	padding: 2rem 0rem;
	justify-content: center;
	align-items: flex-start;
	/* margin-bottom: 5rem; */
	margin-top: 1vh;
	margin-bottom: 100px;
}

.card {
	/* height: 90%; */
	/* width: 15%; */
	width: 262px;
	height: 286px;
	background: linear-gradient(
		135.45deg,
		rgba(171, 221, 255, 0.37) 41.84%,
		rgba(217, 217, 217, 0) 105.76%
	);
	padding: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	padding: 40px 0 0 22px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* justify-content: center; */

	border-radius: 10px;
}

.card:not(:last-child) {
	margin-right: 3rem;
}

.card .card__icon {
	height: 3rem;
	width: 3rem;
	fill: var(--primaray);
	margin-bottom: 0.5rem;
}

.card .card__title {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.4;
	margin-bottom: 14px;
}

.card .card__body {
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 1.4;
}

.api__row--2 {
	/* background-color: coral; */
	/* background: radial-gradient(
			ellipse farthest-side at 50% 0%,
			var(--lighter) 10%,
			transparent
		),
		radial-gradient(
			ellipse farthest-side at 20% 90%,
			var(--lighter) 10%,
			white 500px
		); */
	background: url("./assets/images/api_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	padding: var(--margin);
}

.code {
	/* background-color: burlywood; */
	/* background: radial-gradient(
			ellipse farthest-side at 50% 0%,
			var(--lighter) 10%,
			transparent
		),
		radial-gradient(
			ellipse farthest-side at 20% 90%,
			var(--lighter) 10%,
			white 500px
		); */
	height: 100%;
	/* width: 60%; */

	display: flex;
	justify-content: flex-end;
}

.code img {
	width: 35rem;
	margin: 0;
}

.description {
	/* background-color: brown; */
	/* background: radial-gradient(
		ellipse farthest-side at 50% 90%,
		var(--lighter),
		var(--lighter) 30%,
		white
	); */
	/* height: 100%; */
	width: 40%;
	padding: 2.5rem 5.5rem;
	font-family: Tienne;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.description h3 {
	font-size: 2.2rem;
	line-height: 1;
	margin-bottom: 1rem;
}

.description p {
	font-size: 0.8rem;
	line-height: 1.2;
	margin-bottom: 2rem;
}

.description .btn {
	height: 2rem;
	width: 6.5rem;
	background-color: var(--secondary);
	border: none;
	border-radius: 5px;
}

/* plugins section */

.plugins {
	height: 100vh;
	width: 100%;
	padding: 2.5rem 0rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2vh;
}

.plugins__heading {
	font-family: var(--font-type-header);
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 2rem;
}

.plugins__box {
	/* height: 70%; */
	height: 540px;
	width: 100%;
	background: linear-gradient(
		to bottom right,
		rgba(51, 173, 255, 100%),
		rgba(51, 173, 255, 26%)
	);
	filter: blur(1.5px);
	/* background: url(assets/images/plugins-stripe.svg); */

	overflow: hidden;
}

.plugins__scroll {
	height: 100%;
	width: 100%;
	/* background-color: aquamarine; */
	transform: rotate(30deg) translateY(-110px) translateX(40px);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.plugins__stripe {
	height: 200%;
	/* background-color: rosybrown; */

	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
}

.plugins__stripe img {
	width: 9rem;
	padding-top: 1.1rem;
	/* padding-bottom: 0.8rem; */

	/* animation: stripe1 20s linear infinite;
  animation-delay: -20s; */
}

/* .plugins__stripe img:nth-child(2) {
  animation: stripe2 20s linear infinite;
  animation-delay: -10s;
} */

.plugins__stripe--1 img,
.plugins__stripe--3 img,
.plugins__stripe--7 img {
	animation: stripe1 30s linear infinite;
	animation-delay: -30s;
}

.plugins__stripe--1 img:nth-child(2),
.plugins__stripe--3 img:nth-child(2),
.plugins__stripe--7 img:nth-child(2) {
	animation: stripe2 30s linear infinite;
	animation-delay: -15s;
}

.plugins__stripe--2 img,
.plugins__stripe--5 img,
.plugins__stripe--8 img {
	animation: stripe1 40s linear infinite;
	animation-delay: -40s;
	animation-direction: reverse;
}

.plugins__stripe--2 img:nth-child(2),
.plugins__stripe--5 img:nth-child(2),
.plugins__stripe--8 img:nth-child(2) {
	animation: stripe2 40s linear infinite;
	animation-delay: -20s;
	animation-direction: reverse;
}

.plugins__stripe--4 img,
.plugins__stripe--6 img {
	animation: stripe1 20s linear infinite;
	animation-delay: -20s;
}

.plugins__stripe--4 img:nth-child(2),
.plugins__stripe--6 img:nth-child(2) {
	animation: stripe2 20s linear infinite;
	animation-delay: -10s;
}

@keyframes stripe1 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes stripe2 {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-200%);
	}
}

/* footer */
.footer {
	height: 90vh;
	width: 100%;
	background-color: orangered;
	background: white;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.bank {
	width: 100%;
	background-color: rgb(201, 192, 189);
	padding: 1rem 1rem;
	margin-top: 3rem;
	justify-self: flex-start;
	margin-bottom: auto;

	display: flex;
	justify-content: center;
}

.bank .bank__icon {
	width: 10rem;
}

.bank .bank__icon:not(:last-child) {
	margin-right: 8rem;
}

.explore {
	height: 60%;
	width: 100%;
	background-color: burlywood;
	background-color: var(--primaray);
	background-position: bottom;
	position: relative;

	/* -webkit-clip-path: polygon(0% 10%, 100% 25%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 10%, 100% 25%, 100% 100%, 0% 100%); */

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.explore__divider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.explore__divider svg {
	position: relative;
	display: block;
	width: calc(131% + 1.3px);
	height: 150px;
}

.explore__divider .shape-fill {
	fill: #ffffff;
}

.explore__box {
	height: 6rem;
	width: 80%;
	background: linear-gradient(to right, var(--secondary), cyan);
	padding: 1rem 2.5rem;
	border-radius: 0.6rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.explore__box p {
	font-family: Tienne;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.2;
	color: white;
	width: 15rem;
}

.explore__box .btn {
	height: 2.3rem;
	width: 8rem;
	background-color: var(--secondary);
	border: none;
	border-radius: 5px;
}

.explore__box .btn::before {
	content: "";
	display: block;
	height: 1.2rem;
	width: 1.2rem;
	background-color: cyan;
	border-radius: 50%;
	margin-left: 0.2rem;
}

.footer__logo {
	width: 9rem;
	margin-top: 2.5rem;
	margin-bottom: 2rem;
}
@keyframes applepay-rotate {
	from {
		transform: rotate(0deg) translateX(171px) rotate(0deg);
	}
	to {
		transform: rotate(-360deg) translateX(171px) rotate(360deg);
	}
}
@keyframes visa-rotate {
	from {
		transform: rotate(0deg) translateX(120.49px) rotate(0deg);
	}
	to {
		transform: rotate(-360deg) translateX(120.49px) rotate(360deg);
	}
}
@keyframes mada-rotate {
	from {
		transform: rotate(0deg) translateX(72.425px) rotate(0deg);
	}
	to {
		transform: rotate(-360deg) translateX(72.425px) rotate(360deg);
	}
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/*media queries */

/* amer's media */
@media only screen and (max-width: 1400px) {
	.main__paragraph {
		margin-left: 0;
	}
	.main__box {
		height: 395px;
		padding-top: 32px;
		margin-top: calc(100vh - 537px);
	}
}

@media only screen and (min-width: 1400px) {
	.main__container,
	.payment_method_container {
		margin: 0 auto;
	}
}
@media only screen and (max-width: 600px) {
	:root {
		--font-weight-big: 700;
		--font-weight-mid: 400;
		--font-size-big: 30px;
		--font-size-mid: 30px;
		--font-size-small: 24px;
	}
	.bank .bank__icon {
		width: 7rem;
	}
	.bank {
		justify-content: space-between;
	}
	.bank .bank__icon:not(:last-child) {
		margin-right: 0;
	}
	.api__row {
		height: auto;
	}
	.api__row--1 {
		flex-direction: column;
		align-items: center;
		gap: 83px;
	}
	.card:not(:last-child) {
		margin-right: 0;
	}
	.bank .bank__icon {
	}
	.main {
		height: 100vh;
	}
	.nav__container {
		display: none;
	}
	.main__ham--menue {
		display: block;
		cursor: pointer;
	}
	.nav__logo {
		width: 36px;
	}
	.nav__logo img {
		width: 100%;
	}
	.container {
		padding: 0;
	}
	.main__nav {
		background: rgba(171, 221, 255, 0.6);
		height: 51px;
		padding: 0 25px;
		transform: translateY(0);
	}
	.main__paragraph {
		margin-left: 0;
		margin: 0 auto;
		width: 380px;
		margin-bottom: 25px;
	}
	.main__box {
		margin-right: auto;
		margin-left: auto;
	}
	.payment_method {
		background: linear-gradient(
			196.03deg,
			#01a6e7 13.42%,
			rgba(1, 166, 231, 0) 82.59%
		);
		height: 790px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 104%);
	}
	.payment_method_container {
		flex-direction: column-reverse;
		height: auto;
	}
	.payment_method__secondary-paragraph {
		display: none;
	}
	.payment_method__paragraph {
		width: 308px;
	}
	.payment_method-call-to-action {
		margin: 0 auto;
		width: 155px;
		height: 44px;
	}
	.payment_method__right--cotainer {
		text-align: center;
		margin-top: 100px;
		margin-bottom: 20px;
	}
	.payment_method__right {
		width: auto;
	}
	.payment_method__left {
		margin: 0 auto;
	}
	.payment_method__solar__container {
		display: flex;
		justify-content: flex-start;
	}
	.solar__main--circle {
		width: 68.66px;
		height: 68.66px;
	}
	.solar__main--circle--logo {
		width: 50%;
	}
	.solar__secondary--circle {
		width: 113.24px;
		height: 113.24px;
		left: -21px;
		top: -21px;
	}
	.solar__outer--circle {
		width: 160.81px;
		height: 160.81px;
		top: -48px;
		left: -45px;
	}
	.solar--blob {
		width: 323.27px;
		height: 272.23px;
		top: -103px;
		left: -128px;
	}
	.solar--blob--image {
		width: 100%;
	}
	.solar__payment-method--logo {
		width: 23.51px;
		height: 23.04px;
	}
	.applepay {
		top: 56%;
		left: 6%;
	}
	.mastercard {
		top: 56%;
		left: 6%;
	}
	.mada {
		top: 52%;
		left: 8%;
	}
	.visa {
		top: 60%;
		left: 8%;
	}
	.dashboard__main-text {
		width: 390px;
		line-height: 50px;
	}
	.dashboard__image--container {
		height: 351px;
	}
	.dashboard__image--container .container {
		padding: 0 27px;
	}
	.dashboard__big--image {
		margin-top: 72px;
	}
	@keyframes applepay-rotate {
		from {
			transform: rotate(0deg) translateX(80.405px) rotate(0deg);
		}
		to {
			transform: rotate(-360deg) translateX(80.405px) rotate(360deg);
		}
	}
	@keyframes visa-rotate {
		from {
			transform: rotate(0deg) translateX(56.62px) rotate(0deg);
		}
		to {
			transform: rotate(-360deg) translateX(56.62px) rotate(360deg);
		}
	}
	@keyframes mada-rotate {
		from {
			transform: rotate(0deg) translateX(34.33px) rotate(0deg);
		}
		to {
			transform: rotate(-360deg) translateX(34.33px) rotate(360deg);
		}
	}
}
@media only screen and (max-width: 420px) {
	.payment_method__solar__container {
		margin-left: 4rem;
	}
}
@media only screen and (min-width: 600px) {
	.main__ham--menue {
		display: none;
	}
}

/* fatimah's media */
